#!/bin/sh

xset s noblank      # don't blank the video device
xset s off          # don't activate screensaver
xset -dpms          # disable DPMS (Energy Star) features.

sed -i 's/"exited_cleanly":false/"exited_cleanly":true/' /home/{{ viewer_user }}/.config/chromium/Default/Preferences
sed -i 's/"exit_type":"Crashed"/"exit_type":"Normal"/' /home/{{ viewer_user }}/.config/chromium/Default/Preferences

xrandr --output {{ display_output }} --rotate {{ display_rotate }}

/usr/bin/unclutter -idle 0.5 -root &
/usr/bin/chromium-browser --incognito --disable-infobars --noerrdialogs --kiosk {{ chrome_url }}
